@if (TempData["Sucess"]!=null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>toastr.success('@TempData["Sucess"]')</script>
}

@if (TempData["Failed"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>toastr.error('@TempData["Failed"]')</script>
}

@if (TempData["Error"]!=null)
{
    <h2>@TempData["Error"]</h2>
}