@model IEnumerable<Category>

<h1>Index Category</h1>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            Categoty List
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-lg"></i>
                Create New Category
                </a>
        </div>
    </div>
    <br /> <br />
<table class="table table-bordered table table-striped">
    <thead>
        <th class="text-dark">Category Name</th>
        <th class="text-dark">Display Order</th>
        <th></th>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
          <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                       @item.DisplayOrder
                   </td>
                   <td>
                       <div>
                           <a class="btn btn-primary" asp-controller="Category" asp-action="Edit" asp-route-id=@item.Id>
                                <i class="bi bi-pencil"></i>
                               Edit
                           </a>
                            <a class="btn btn-primary" asp-controller="Category" asp-action="Delete" asp-route-id=@item.Id>
                                <i class="bi bi-trash3"></i>
                                Delete
                            </a>
                       </div>
                   </td>
          </tr>
        }
    </tbody>
</table>
</div>