@model BanSach.Models.ViewModel.ProductVM

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="product.Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pd-2">
            <h2>@(Model.product.Id==0 ? "Create" : "Edit") Product</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div> @*hiện tất cả lỗi ỡ 1 khu vực*@
        <div class="mb-3">
            <label asp-for="product.Title">Title</label>
            <input asp-for="product.Title" class="form-control" />
            <span asp-validation-for="product.Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="product.Description">Description</label>
            <textarea asp-for="product.Description" class="form-control" rows="3"> </textarea>
            <span asp-validation-for="product.Description" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="mb-3 col-6">
                <label asp-for="product.ISBN">ISBN</label>
                <input asp-for="product.ISBN" class="form-control" />
                <span asp-validation-for="product.ISBN" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="product.Author">Author</label>
                <input asp-for="product.Author" class="form-control" />
                <span asp-validation-for="product.Author" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-6">
                <label asp-for="product.ListPrice">ListPrice</label>
                <input asp-for="product.ListPrice" class="form-control" />
                <span asp-validation-for="product.ListPrice" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="product.Price50">Price50</label>
                <input asp-for="product.Price50" class="form-control" />
                <span asp-validation-for="product.Price50" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="product.Price100">Price100</label>
                <input asp-for="product.Price100" class="form-control" />
                <span asp-validation-for="product.Price100" class="text-danger"></span>
            </div>
        </div>    
        <div class="mb-3">
            <div class="mb-3">
                <label asp-for=product.ImageUrl></label>
                <input type="file" id="imageUrl" name="file" class="form-control" />
            </div>
            <label asp-for=product.CategoryId></label>
            <select asp-for=product.CategoryId asp-items="Model.CategoryList" class=form-select>
                <option disabled onselect=""> -- Select Category --</option>
            </select>
            <span asp-validation-for=product.CategoryId class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for=product.CoverTypeId></label>
            <select asp-for=product.CoverTypeId asp-items="Model.CoverTypeList" class=form-select>
                <option disabled onselect=""> -- Select Category --</option>
            </select>
            <span asp-validation-for=product.CoverTypeId class="text-danger"></span>
        </div>
        @if (Model.product.Id==0)
        {
            <button type="submit" onclick="return ValidateInput()" class="btn btn-primary">Create</button>
        }
        else
        {
            <button type="submit" class="btn btn-primary">Update</button>
        }
        <a asp-controller="CoverType" asp-action="Index">Back to list</a>
    </div>
</form>

@section Scripts
{
    @*Validate ở client không chạy tới sever*@
    <partial name="_ValidationScriptsPartial" />
    <script>
        function ValidateInput() {
            if (document.getElementById("imageUrl").value == "") {
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Something went wrong!",
                    footer: '<a href="">Please upload Images</a>'
                })
                return false;
            }
            return true;
        }
    </script>
    <script> //tạo khung như word cho description = tiny
        tinymce.init({
            selector: 'textarea',
            plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
    </script>
}