@model Company

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2>@(Model.Id==0 ? "Create" : "Edit")  Company</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for=Name></label>
            <input asp-for=Name class=form-control />
            <span asp-validation-for=Name class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for=StreetAddress></label>
            <input asp-for=StreetAddress class=form-control />
            <span asp-validation-for=StreetAddress class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for=City></label>
            <input asp-for=City class=form-control />
            <span asp-validation-for=City class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for=State></label>
            <input asp-for=State class=form-control />
            <span asp-validation-for=State class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for=PostalCode></label>
            <input asp-for=PostalCode class=form-control />
            <span asp-validation-for=PostalCode class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for=PhoneNumber></label>
            <input asp-for=PhoneNumber class=form-control />
            <span asp-validation-for=PhoneNumber class="text-danger"></span>
        </div>


        @if (Model.Id==0)
        {
            <button type="submit" class="btn btn-primary">Create</button>
        }
        else
        {
            <button type="submit" class="btn btn-primary">Update</button>
        }

        <a asp-controller="CoverType" asp-action="Index" class="btn btn-primary">Back To List</a>
    </div>

</form>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />



}


